/* 수평선 안나옴 */
/* img에 클래스 타겟을 빼먹음 */

body {
  background: black;
}

.line {
  /* 원하는 곳에 자유자재로 할 수 있도록 */
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 100%;
  height: 1px;
  top: 50%;
}

.vertical {
  height: 100%;
  width: 1px;
  left: 50%;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  /* 요소의 절반만큼 x에서 이동하고 높이에서 절반만큼 50%이동 */
  transform: translate(-50%, -50%);
}

/* 20px씩 떨어뜨린다 헬로표기 */
.tag {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 38px;
  transform: translate(20px, 20px);
}
